.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding: 8px 15px;
}

.bucket {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .bucket-bar {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 8px 15px;
    .bucket-name {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
    }
  }

  .bucket-create-bar, .bucket-edit-bar {
    padding: 10px 15px;
    .buttons {
      margin-right: 5px;
    }
  }

  .bucket-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    .bucket-columns {
      display: flex;
      flex-grow: 1;
      .bucket-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 300px;
        margin: 50px;
        padding: 25px;
        background: rgba(255, 255, 255, 0.15);

        &:not(:first-child){
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.tasks-content {
  flex-grow: 1;
}

.task {
  display: flex;
  padding: 15px 12px;
  background: #303030;
  border-bottom: solid 1px #555555;
  border-radius: 4px;
  color: white;
  margin-bottom: 15px;
  justify-content: space-between;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,0.05),
  0 3px 14px 2px rgba(0,0,0,0.05);
  cursor: pointer;

  span:hover {
    color: red;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

